body{

    background-color: #c6cc70;

    color: white;
    text-align: center;

}
head{
    background-color:  antiquewhite
}
h1 {
    color: black;
    font-family: "Century Old Style";
}
h2 {
    color: black;
}

h3{
    color: black;
    font-family: "Century Old Style";
}
label{
    color: black;
    font-size: 20px;
    display: inline-block;
    float: right;
    text-align: right;
    font-family: "Century Old Style";
    padding: 10px;
}
.block{
    margin-bottom: 10px;
    display: grid;
    
    grid-template-columns: 1fr 1fr 50px;

}

input,select{

    border: 0px;
    border-radius: 0;
    width:100%;
    padding:10px;
    font-size: 20px;
    margin: 0px;
    font-family: "Century Old Style";
    box-sizing:border-box;
}
input:invalid+span:after {
    content: '✖';
    font-size: 16px;
    padding-left: 5px;
    align-content: flex-end;
    color: red;
}

date{
    font-family: "Century Old Style";
}

input:valid+span:after {
    content: '✓';
    font-size: 16px;
    padding-left: 5px;
    text-align: left;
    color: green;
}

input[type=submit]{
    width: 25%;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    position: absolute;
    right:68px;
    box-sizing:border-box;
}

input[type=submit]:hover{
    background: #f2f2f2;
}

table{
    table-layout: auto;
    position: relative;
    top: 20px;
    border-collapse: collapse;
    width: 100%;




}
tr{
    text-align: left;
    height: 40px;
    font-size: 18px;
    color: black;
    font-family: "Century Old Style";
}
tr:hover {
    background-color: #f5f5f5;
}

tr:nth-child(even) {
    background-color: #f2f2f2;

}

tr:nth-child(odd) {
    background-color: #d9d9d9;
}
th {
    height: 45px;
    font-size: 18px;
    text-align: left;
    margin: 5px;
    background-color: #82ab3a;
    color: white;
    font-family: "Century Old Style";


}
#footer{
    position: relative;

    bottom: 0px;
    high: auto;
    width: 100%;
    background: #1abc9c;
}
.addMore{
    position: absolute;
    right: 20px;
    top: 230px;
    display: flex;
    flex-flow: row;
}
#addMoreBtn{
    font-size: 40px;
    background-color: #c6cc70;
    color: #4CAF50;
    border: 0px;
    float: right;
    
}
#addMoreBtn:hover{
    color: #f5f5f5;
}
#addMoreBtn:focus{
    outline: 0px;
}

@media screen and (max-height: 450px) {
    .block{font-size: 10px;}
    label,select,input,button,tr{font-size: 14px;}
    th{font-size: 16px;}
    #labelAddMoreBtn{font-size: 20px;}
}
@media screen and (max-width: 950px) {
    .block{font-size: 10px;}
    label,select,input,button,tr,h1,h2,h3,input[type=submit]{font-size: 14px;}
    th{font-size: 16px;}
}

@media screen and (max-width: 950px){
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
    .main{margin-left: 110px;}
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
    .main{margin-left: 110px;}
}







