<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head id="head">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" type="text/css" href="patient/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Додати до бази</title>

    </head>
    <div class="main">
        <body>
            <div align="center">
                <form  action="/patient/add" method="post" modelAttribute="${user}">
                    <h1 th:text="|${user.departmentName} відділення|"></h1>
                    <div class="block">
                        <h3 style="color: red; text-align: right">✖</h3>
                        <h3 style="text-align: left"> - поля обов'язкові для заповнення</h3> 
                    </div>
                    <div class="block" >
                        <label for="report">Введіть № висновку експерта або акту</label>
                        <input id="report" type="number" name="reportNumber" required 
                               placeholder="№ висновок експерта або акту" min="1" autofocus 
                               oninvalid="this.setCustomValidity('Необхідно ввести № Висновку експерта!!!')"
                               oninput="setCustomValidity('')"/>
                        <span class="validity"></span>
                    </div>
                    <div class="block">
                        <label for="surname" >Введіть прізвище</label>
                        <input id="surname" type="text" name="surname" required
                               placeholder="прізвище" autofocus  
                               oninvalid="this.setCustomValidity('Необхідно ввести прізвище або вказати - Невідомий!!!')"
                               oninput="setCustomValidity('')"/>
                        <span class="validity"></span>
                    </div>
                    <div class="block">
                        <label for="name" >Введіть ім'я</label>
                        <input id="name" type="text" name="name" placeholder="ім'я"  />
                    </div>
                    <div class="block">
                        <label for="fathersName" >Введіть по-батькові</label>
                        <input id="fathersName" type="text" name="fathersName" placeholder="по-батькові" />
                    </div>
                    <div class="block">
                        <label for="sex" >Введіть стать</label>
                        <input id="sex" type="text" name="sex" placeholder="стать"   />
                    </div>
                    <div class="block">
                        <label for="yearOfBirth" >Введіть рік народження</label>
                        <select id="yearOfBirth" name="yearOfBirth" placeholder="рік" style="width: 100%;">
                            <option th:each="i : ${#numbers.sequence(1920, __${currentYear}__)}" th:value="${i}" th:text="${i}">
                            </option>
                            <option selected="selected" ></option>
                        </select>
                    </div>
                    <div class="block">
                        <label for="examDate" >Введіть дату початку дослідження</label>
                        <input id="examDate" type="date" name="examDate" required min="1900-01-01" th:max="${currentDate}"
                               oninvalid="this.setCustomValidity('Необхідно ввести дату початку експертизи!!!')"
                               oninput="setCustomValidity('')"/>
                        <span class="validity"></span>
                    </div>
                    <div class="block">
                        <label for="expert" >Введіть прізвище та ініціали експерта</label>
                        <input id="expert" type="text" name="expert" placeholder="eксперт" required
                               oninvalid="this.setCustomValidity('Необхідно ввести прізвище та ініціали експерта')"
                               oninput="setCustomValidity('')"/>
                        <span class="validity"></span>
                    </div>
                    <div class="block">
                        <input type="number" hidden="true" name="id" th:value="${user.id}">
                        <input type="submit" value="Додати до бази">
                    </div>
                </form>  
            </div>

        </body>
    </div>

    <div  class="sidebar"  >
        <div th:replace="fragments/sideB :: sideBId(id=${id})"></div>
    </div>
</html>