<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head id="head">
        <link rel="stylesheet" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <meta charset="UTF-8">
        <title>Game</title>

    </head>
    <div class="main">
        <body>
            <div align="center">
                <form method="post">
                    <div class="block">
                        <label for="report"> № висновок експерта або акту</label>
                        <input type="number" hidden="true" th:value="${patient.id}" name="id">
                        <input id="report" type="number" name="reportNumber" required
                               th:value="${patient.reportNumber}"  
                               min="1" autofocus/>
                        <span class="validity"></span>
                    </div>
                    <div class="block">
                        <label for="surname" >прізвище</label>
                        <input id="surname" type="text" name="surname" required
                               th:value="${patient.surname}" 
                               oninvalid="this.setCustomValidity('Необхідно ввести прізвище або вказати - Невідомий!!!')"
                               oninput="setCustomValidity('')"/>
                        <span class="validity"></span>
                    </div>
                    <div class="block">
                        <label for="name" >ім'я</label>
                        <input id="name" type="text" name="name" th:value="${patient.name}" />
                    </div>
                    <div class="block">
                        <label for="fathersName" >по-батькові</label>
                        <input id="fathersName" type="text" name="fathersName" 
                               th:value="${patient.fathersName}" />
                    </div>
                    <div class="block">
                        <label for="sex" >стать</label>
                        <input id="sex" type="text" name="sex" th:value="${patient.sex}" />
                    </div>
                    <div class="block">
                        <label for="birthDate" > дата народження</label>
                        <input id="birthDate" type="date" name="birthDate" 
                               pattern="dd-MM-yyyy" th:value="${patient.birthDate}"
                               required min="1900-01-01" th:max="${currentDate}" />
                        <span class="validity"></span>
                    </div>
                    <div class="block">
                        <label for="deathDate" >дата смерті</label>
                        <input id="deathDate" type="date" name="deathDate" 
                               pattern="dd-MM-yyyy" th:value="${patient.deathDate}"
                               required min="1900-01-01" th:max="${currentDate}" />
                        <span class="validity"></span>
                    </div>
                    <div class="block">
                        <label for="expert" >прізвище та ініціали експерта</label>
                        <input id="expert" type="text" name="expert" 
                               th:value="${patient.expert}" required/>
                        <span class="validity"></span>
                    </div>
                    <div class="block">
                        <input type="submit" value="Редагувати"/>
                    </div>

                </form>  
            </div>

        </body>
    </div>

    <div  class="sidebar"  >
        <div th:replace="fragments/sideB :: sideBId"></div>
    </div>
</html>