<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="signUpStyle.css">
        <title>Вхід до бази</title>
    </head>
    <body align="center">

        <h2>Вхід до бази</h2>

        <form  action="/patient/add" method="get">
            <div class="container">
                <label  style="color: red;">
                    <span th:text="${massege == null}?'':'Пароль або логін введено неправильно'">
                    </span>
                </label>
                <label for="login"><b>Логін</b></label>
                <input type="text" placeholder="Введіть логін" name="login" required >
                <label for="psw"><b>Пароль</b></label>
                <input type="text" placeholder="Введіть пароль" name="psw" required >
                <input type="submit" value="Увійти">
            </div>
        </form>
    </body>
</html>