<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="utf-8"> 
        <title>Вхід в систему</title> 
    </head>
    <body align="center">
        <div  style="width: 20%">
        <form action="" method="POST">
            <label>User ID:</label>
            <input type="text" id="uid" name="uid" placeholder="логін" required>
            <label>Password:</label>
            <input type="password" id="passid" name="passid" placeholder="пароль"required>
            <input type="submit" value="Submit" />
        </form>
        </div>
    </body>
</html>
