<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="signUpStyle.css">
        <title>Вхід до бази</title>
    </head>
    <body align="center">

        <h2>Вхід до бази</h2>

        <form action="/signup" method="post">
            <div class="container">
                <label th:text="${massege}" style="color: red;">Warning!</label>
                <label for="uname"><b>Логін</b></label>
                <input type="text" placeholder="Введіть логін" name="login" required >
                <label for="psw"><b>Пароль</b></label>
                <input type="password" placeholder="Введіть пароль" name="psw" required >
                <button type="submit" th:value="${user}" >Увійти</button>
            </div>
        </form>
    </body>
</html>